---
http_interactions:
- request:
    method: get
    uri: https://api.zadarma.com/v1/info/balance/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<API_AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8;
      X-Zadarma-Method:
      - "/v1/info/balance/"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1625392028'
    body:
      encoding: UTF-8
      string: '{"status":"success","balance":0,"currency":"RUB"}'
  recorded_at: Sun, 04 Jul 2021 09:46:07 GMT
recorded_with: VCR 5.1.0
